
.green-background {
	background-color: lightgreen;
}

.lightyellowbackground {
    background-color: lightyellow;
}



.lightgreybackground {
    background-color: lightgrey
}

.box{
    margin-top: 10px;
    padding:10px; 
    width: 200px;
    min-height: 30vh; 
}

.round-border {
    border-radius: 10px;
}

.margin-top-sm {
	margin-top: 10px;
}

.LemonChiffon {
	background-color: LemonChiffon;
}
.Khaki {
	background-color: Khaki;
}



.slection:hover {
    background-color: yellow;
    color: green;
}




